<?xml version="1.0" encoding="utf-8"?>
<root>
  <Redis enabled="false">
    <WriteServerList>127.0.0.1:6379</WriteServerList>
    <ReadServerList>127.0.0.1:6379</ReadServerList>
    <MaxWritePoolSize>60</MaxWritePoolSize>
    <MaxReadPoolSize>60</MaxReadPoolSize>
    <LocalCacheTime>1800</LocalCacheTime>
  </Redis>
  <Memcached enabled="false">
  </Memcached>
  <LocalCache enabled="true">
  </LocalCache>
</root>